Repository korwww/myMoney, pull requests merged in 2024-05, with the labels that each got.

#15 [FE] 상단바 기능 구현
  frontend/src/Router.tsx
  frontend/src/layout/Header.tsx
  frontend/src/layout/Layout.tsx
  frontend/src/layout/Navigation.tsx
  frontend/src/pages/MyPage.tsx
Labels: frontend, feat

#16 [FE] 드롭다운 개발
  frontend/src/components/common/Dropdown.tsx
Labels: frontend, feat

#14 [FE] 테마 스타일 수정 및 버튼 컴포넌트 기능 구현
  frontend/src/components/common/Button.tsx
  frontend/src/style/theme.ts
Labels: frontend, feat

#19 [FE] 404, 500 페이지 및 네비게이션 오류 수정
  frontend/src/layout/Navigation.tsx
  frontend/src/pages/404.Page.tsx
  frontend/src/pages/500.Page.tsx
  frontend/src/pages/CreateReview.tsx
  frontend/src/pages/ReviewList.tsx
Labels: frontend

#24 [FE] 로그인, 회원가입, 관리자 페이지 마크업 & 아이콘 공용 컴포넌트 생성
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/assets/icons/Checked.tsx
  frontend/src/assets/icons/Eye.tsx
  frontend/src/assets/icons/receiptAuthentication.tsx
  frontend/src/components/Admin/AdminContent.tsx
  frontend/src/components/Admin/AdminHeader.tsx
  frontend/src/components/Admin/AdminLayout.tsx
  frontend/src/components/Admin/AdminNavItem.tsx
  frontend/src/components/Admin/AdminSidebar.tsx
  frontend/src/components/Admin/AdminTable.tsx
  frontend/src/components/Join/JoinForm.tsx
  frontend/src/components/Join/JoinTemplate.tsx
  frontend/src/components/Join/ProgressBar.tsx
  frontend/src/components/Login/Checkbox.tsx
  frontend/src/components/Login/LoginForm.style.ts
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/common/AlertText.tsx
  frontend/src/components/common/AuthOptions.tsx
  frontend/src/components/common/Icon.tsx
  frontend/src/components/common/Input.tsx
  frontend/src/components/common/Title.tsx
  frontend/src/constance/validate.ts
  frontend/src/layout/Layout.tsx
  frontend/src/layout/Navigation.tsx
  frontend/src/models/user.model.ts
  frontend/src/pages/Admin/AdminLogin.tsx
  frontend/src/pages/Admin/ReportedUsersDashboard.tsx
  frontend/src/pages/Admin/UnverifiedReviewsDashboard.tsx
  frontend/src/pages/Join/JoinStep1Email.tsx
  frontend/src/pages/Join/JoinStep2Nickname.tsx
  frontend/src/pages/Join/JoinStep3Password.tsx
  frontend/src/pages/Login.tsx
Labels: frontend, feat

#28 [FE] 아이콘 파일명 오류 수정, 인풋 컴포넌트 적용, 관리자페이지 경로명 수정
  frontend/src/Router.tsx
  frontend/src/assets/icons/ReceiptAuthentication.tsx
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/pages/Join/JoinStep1Email.tsx
  frontend/src/pages/Join/JoinStep2Nickname.tsx
  frontend/src/pages/Join/JoinStep3Password.tsx
Labels: frontend

#29 [FE] 로그인 폼에 input 스타일 직접 지정했던 코드 삭제
  frontend/src/components/Login/LoginForm.style.ts
Labels: frontend, style

#30 [FE] 상단바 기능 수정 및 배경색 지정
  frontend/src/layout/Header.tsx
  frontend/src/layout/Navigation.tsx
Labels: frontend

#35 [FE] 라우터 설정 변경
  frontend/src/App.tsx
  frontend/src/Router.tsx
Labels: frontend

#46 [BE] user.controller.ts, users.route.ts 파일 사용자 정보 조회 API 작성
  backend/src/controllers/user.controller.ts
  backend/src/routes/users.route.ts
Labels: backend, feat

#48 [BE] snake_case를 camelCase로 바꿔주는 미들웨어 추가
  backend/src/app.ts
  backend/src/middlewares/convertToCamelCase.ts
Labels: backend, feat

#49 [BE] camelcase-keys 라이브러리 설치
  backend/package-lock.json
  backend/package.json
Labels: backend, feat

#57 [FE] 프론트엔드에서 api 요청보낼 때 명명 규칙 변경해서 보내도록 하기 camelCase -> snake_case
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/data-source.ts
  backend/src/middlewares/convertToCamelCase.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/http.ts
Labels: frontend, backend

#60 [FE],[BE] 사용자 인증 로직 리팩토링, 오류 처리 로직 추가 (오류 미들웨어, ErrorBoundary, ErrorTemplate)
  backend/mock_data.sql
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/constance/errorMessage.ts
  backend/src/controllers/user.controller.ts
  backend/src/entity/users.entity.ts
  backend/src/middlewares/authentication.ts
  backend/src/models/user.model.ts
  backend/src/routes/users.route.ts
  backend/src/services/user.service.ts
  backend/src/services/user.services.ts
  backend/src/utils/authUtils.ts
  backend/src/utils/getStatusCode.ts
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/assets/icons/Attention.tsx
  frontend/src/components/Error/ErrorTemplate.style.ts
  frontend/src/components/Error/ErrorTemplate.tsx
  frontend/src/components/Error/ForbiddenError.tsx
  frontend/src/components/Error/InternalError.tsx
  frontend/src/components/Error/NotFoundError.tsx
  frontend/src/components/hocs/withAdminAuthenticatedUser.tsx
  frontend/src/components/hocs/withAuthenticatedUser.tsx
  frontend/src/components/hocs/withUnauthenticatedUser.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/404.Page.tsx
  frontend/src/pages/500.Page.tsx
  frontend/src/pages/Error.tsx
  frontend/src/store/auth.store.ts
  frontend/src/utils/routingUtils.ts
Labels: frontend, backend

#61 [BE] 리뷰 작성, 리뷰 수정 api
  backend/src/controllers/reviews.controller.ts
  backend/src/data-source.ts
  backend/src/entity/reviews.entity.ts
  backend/src/models/review.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/reviews.route.ts
  backend/src/services/review.service.ts
  frontend/src/api/review.api.ts
  frontend/src/components/CreateReview/PhotoUpload.tsx
  frontend/src/components/CreateReview/ReceiptUpload.tsx
  frontend/src/hooks/useReview.ts
  frontend/src/layout/Navigation.tsx
  frontend/src/models/review.model.ts
  frontend/src/pages/CreateReview.tsx
Labels: backend, feat

#62 [FE], [BE] 개별 리뷰 조회 api 구현, entity들 관계 데코레이터 작성 및 수정, 드롭다운 props 수정
  backend/src/app.ts
  backend/src/controllers/comment.controller.ts
  backend/src/controllers/like.controller.ts
  backend/src/controllers/review.controller.ts
  backend/src/controllers/reviews.controller.ts
  backend/src/data-source.ts
  backend/src/entity/comments.entity.ts
  backend/src/entity/likes.entity.ts
  backend/src/entity/report_content.entity.ts
  backend/src/entity/reviews.entity.ts
  backend/src/entity/users.entity.ts
  backend/src/models/review.model.ts
  backend/src/routes/comments.route.ts
  backend/src/routes/likes.route.ts
  backend/src/routes/reviews.route.ts
  backend/src/services/review.service.ts
  frontend/src/api/http.ts
  frontend/src/components/CreateReview/CategorySelect.tsx
  frontend/src/components/common/Dropdown.tsx
  frontend/src/layout/Layout.tsx
Labels: frontend, backend, feat, style

#63 [BE],[FE] 신고된 유저 조회 api/신고 취소 api 추가 및 프론트엔드와 연결, 유저 엔티티/신고내역 엔티티 수정
  backend/src/app.ts
  backend/src/constance/errorMessage.ts
  backend/src/controllers/reports.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/data-source.ts
  backend/src/entity/report_content.entity.ts
  backend/src/entity/users.entity.ts
  backend/src/middlewares/authentication.ts
  backend/src/models/report.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/reports.route.ts
  backend/src/services/report.service.ts
  backend/src/services/user.service.ts
  backend/src/utils/authUtils.ts
  backend/src/utils/getStatusCode.ts
  frontend/src/api/report.api.ts
  frontend/src/components/Admin/AdminContent.tsx
  frontend/src/components/Error/ForbiddenError.tsx
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/hooks/useAdmin.ts
  frontend/src/models/admin.model.ts
  frontend/src/pages/Admin/ReportedUsersDashboard.tsx
  frontend/src/pages/Error.tsx
Labels: frontend, backend, feat

#66 [BE] 회원가입, 로그인, 이메일/닉네임 중복 검사 유효성 검사 로직 추가
  backend/src/constance/bannedWord.ts
  backend/src/routes/users.route.ts
  backend/src/validators/users.validator.ts
  backend/src/validators/validator.ts
Labels: backend, feat

#68 [BE][FE] 신고 추가 api 추가, 신고 내역 유효성검사 추가, 로그인 오류 케이스 추가
  backend/src/constance/errorMessage.ts
  backend/src/controllers/reports.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/entity/report_content.entity.ts
  backend/src/models/report.model.ts
  backend/src/routes/reports.route.ts
  backend/src/services/report.service.ts
  backend/src/services/user.service.ts
  backend/src/utils/getStatusCode.ts
  backend/src/validators/reports.validator.ts
  frontend/src/hooks/useAuth.ts
Labels: backend, feat

#70 [FE] 관리자인 경우엔 상단바에 관리자페이지로 이동할 수 있는 버튼 보여주기
  frontend/src/layout/Header.tsx
  frontend/src/utils/routingUtils.ts
Labels: frontend, feat

#72 [BE] 관리자용 리뷰 승인 처리 api
  backend/src/controllers/reviews.controller.ts
  backend/src/models/review.model.ts
  backend/src/routes/reviews.route.ts
  backend/src/services/review.service.ts
Labels: backend, feat

#75 [BE] 개별 리뷰 조회시, 리뷰 이미지 조회 및 설정 로직 추가
  backend/src/models/review.model.ts
Labels: backend, feat

#79 [FE] 리뷰 아이템, 리뷰 리스트 컴포넌트 생성
  frontend/src/Router.tsx
  frontend/src/api/review.api.ts
  frontend/src/components/common/ReviewItem.style.ts
  frontend/src/components/common/ReviewItem.tsx
  frontend/src/components/common/ReviewList.tsx
  frontend/src/hooks/useReview.ts
  frontend/src/models/review.model.ts
  frontend/src/pages/Mypage/LikedReviews.tsx
  frontend/src/pages/Mypage/MyPage.tsx
  frontend/src/pages/Mypage/MyReviews.tsx
  frontend/src/pages/ReviewList.tsx
Labels: frontend

#80 [FE] 뱃지용 이미지 추가
  backend/src/routes/reviews.route.ts
  frontend/src/assets/icons/DotsThree.tsx
  frontend/src/assets/images/badge-img.png
  frontend/src/assets/images/logo-204x204.png
Labels: frontend

#82 [BE][FE] 좋아요에 변경된 사용자 미들웨어 적용, 회원가입 오류 수정, 리뷰아이템 공유용 커밋
  backend/src/controllers/user.controller.ts
  backend/src/entity/review_img.entity.ts
  backend/src/models/user.model.ts
  backend/src/routes/likes.route.ts
  backend/src/routes/reviews.route.ts
  backend/src/services/user.service.ts
  backend/src/utils/authUtils.ts
  frontend/src/api/admin.api.ts
  frontend/src/api/review.api.ts
  frontend/src/components/common/AuthOptions.tsx
  frontend/src/components/common/ReviewItem.style.ts
  frontend/src/components/common/ReviewItem.tsx
  frontend/src/components/common/ReviewList.tsx
  frontend/src/constance/querystring.ts
  frontend/src/hooks/useAdmin.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useReview.ts
  frontend/src/hooks/useReviews.ts
  frontend/src/models/review.model.ts
  frontend/src/pages/Admin/UnverifiedReviewsDashboard.tsx
  frontend/src/pages/Join/JoinStep3Password.tsx
  frontend/src/pages/ReviewList.tsx
  frontend/src/store/user.registration.store.ts
Labels: frontend, backend

#85 [FE] 마이페이지 기능 구현, 리뷰 목록 더보기 아이콘 드롭박스 위치 조정
  backend/src/data-source.ts
  frontend/src/Router.tsx
  frontend/src/api/http.ts
  frontend/src/api/likedReviews.api.ts
  frontend/src/api/myReviews.api.ts
  frontend/src/api/search.api.ts
  frontend/src/api/user.api.ts
  frontend/src/components/Admin/AdminContent.tsx
  frontend/src/components/common/ReviewItem.tsx
  frontend/src/components/common/ReviewList.tsx
  frontend/src/hooks/useLikedReviews.ts
  frontend/src/hooks/useMyReviews.ts
  frontend/src/hooks/useUser.ts
  frontend/src/models/search.model.ts
  frontend/src/pages/Mypage/LikedReviews.tsx
  frontend/src/pages/Mypage/MyPage.tsx
  frontend/src/pages/Mypage/MyReviews.tsx
  frontend/src/pages/Search.tsx
Labels: frontend, feat, style

#87 [FE],[BE] 카테고리 조회 api 추가, user api url camelCase로 변경, 카테고리에서 사용할 로고 이미지 추가, 리뷰 목록페이지 무한 스크롤 구현 및 리팩토링 (작업중)
  backend/src/app.ts
  backend/src/controllers/category.controller.ts
  backend/src/models/category.model.ts
  backend/src/routes/category.route.ts
  backend/src/routes/users.route.ts
  backend/src/services/category.service.ts
  frontend/src/api/auth.api.ts
  frontend/src/api/category.api.ts
  frontend/src/api/review.api.ts
  frontend/src/assets/images/logo16x16.png
  frontend/src/assets/images/logo32x32.png
  frontend/src/components/common/Category.tsx
  frontend/src/components/common/CategoryButton.tsx
  frontend/src/components/common/ReviewItem.tsx
  frontend/src/components/common/ReviewList.tsx
  frontend/src/hooks/useAdmin.ts
  frontend/src/hooks/useCategory.ts
  frontend/src/hooks/useIntersectionObserver.ts
  frontend/src/hooks/useReviews.ts
  frontend/src/models/category.model.ts
  frontend/src/pages/ReviewList.tsx
Labels: frontend, backend, feat

#92 [FE] 네비게이션바 리팩토링, 상태명 오류 수정
  frontend/src/layout/Footer.tsx
  frontend/src/layout/Navigation.tsx
  frontend/src/pages/Join/JoinStep1Email.tsx
  frontend/src/pages/Join/JoinStep2Nickname.tsx
Labels: frontend

#95 [FE] 검색페이지 기능구현 및 리뷰 파일 코드 수정 및 추가
  frontend/src/api/review.api.ts
  frontend/src/api/search.api.ts
  frontend/src/assets/icons/BigSearch.tsx
  frontend/src/assets/icons/SmallX.tsx
  frontend/src/hooks/useReviews.ts
  frontend/src/pages/Mypage/MyPage.tsx
  frontend/src/pages/Search.tsx
Labels: frontend, feat, style

#96 [FE] 불필요한 주석 제거
  frontend/src/pages/Search.tsx
Labels: frontend

#94 [FE] 카테고리 버튼 컴포넌트를 카테고리 api를 불러와 보여주도록 변경
  frontend/src/components/common/Category.tsx
  frontend/src/components/common/CategoryButton.tsx
  frontend/src/hooks/useCategory.ts
  frontend/src/models/category.model.ts
  frontend/src/pages/Home.tsx
Labels: frontend, feat

#93 [FE][BE] 주석 제거, 오류 수정 및 코드 리팩토링
  backend/src/controllers/reports.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/middlewares/authentication.ts
  backend/src/routes/reports.route.ts
  backend/src/routes/users.route.ts
  backend/src/services/report.service.ts
  backend/src/services/user.service.ts
  backend/src/utils/authUtils.ts
  backend/src/validators/reports.validator.ts
  frontend/src/api/http.ts
  frontend/src/api/report.api.ts
  frontend/src/components/Admin/AdminTable.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/ReviewItem.style.ts
  frontend/src/components/common/ReviewList.tsx
  frontend/src/hooks/useAdmin.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useReviews.ts
  frontend/src/pages/Admin/ReportedUsersDashboard.tsx
  frontend/src/pages/Admin/UnverifiedReviewsDashboard.tsx
  frontend/src/pages/ReviewList.tsx
Labels: bug, frontend, backend

#88 [FE][BE] 리뷰 업데이트 api 연결, 리뷰 api 유효성 검사 추가
  backend/src/routes/reviews.route.ts
  backend/src/validators/reviews.validator.ts
  frontend/src/api/review.api.ts
  frontend/src/hooks/useReview.ts
  frontend/src/pages/Review/CreateReview.tsx
  frontend/src/pages/Review/EditReview.tsx
Labels: frontend, backend, feat

#99 [FE] 상세 후기 페이지 이미지 슬라이드 적용, react-slick 스타일 적용을 위한 패키지 설치, 리뷰 아이템에 좋아요 기능 추가, 좋아요 컴포넌트 스타일 변경
  backend/src/models/comment.model.ts
  backend/src/models/review.model.ts
  backend/src/routes/comments.route.ts
  backend/src/routes/reviews.route.ts
  backend/src/services/review.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/api/comment.api.ts
  frontend/src/api/report.api.ts
  frontend/src/api/review.api.ts
  frontend/src/assets/icons/CaretRight.tsx
  frontend/src/components/Comment/CommentAdd.tsx
  frontend/src/components/Comment/CommentItem.tsx
  frontend/src/components/Comment/CommentList.tsx
  frontend/src/components/Review/Like.tsx
  frontend/src/components/Review/ReviewContent.style.ts
  frontend/src/components/Review/ReviewContent.tsx
  frontend/src/components/Review/ReviewImage.tsx
  frontend/src/components/Review/ReviewImageSliderArrow.tsx
  frontend/src/components/Review/ReviewImages.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/ReviewItem.style.ts
  frontend/src/components/common/ReviewItem.tsx
  frontend/src/hooks/useComment.ts
  frontend/src/hooks/useLike.ts
  frontend/src/hooks/useReviewDetail.ts
  frontend/src/models/comment.model.ts
  frontend/src/models/report.model.ts
  frontend/src/models/review.model.ts
  frontend/src/pages/ReviewDetail.tsx
  frontend/src/utils/format.ts
Labels: bug, frontend, feat

#101 [FE] 검색페이지 구현
  frontend/src/components/common/NoRecentSearchResult.tsx
  frontend/src/components/common/ReviewList.tsx
  frontend/src/pages/Search.tsx
Labels: frontend, feat

#97 [FE][BE] 리뷰 상세 페이지에서 이미지, 신고하기를 제외한 리뷰 본문, 댓글 부분 기능 구현 / 백엔드에서 개별 리뷰 관련 코드에서 필요한 속성들 추가 및 리팩토링
  frontend/src/components/Comment/CommentItem.tsx
  frontend/src/components/Comment/CommentList.tsx
  frontend/src/hooks/useComment.ts
Labels: bug, frontend, backend, feat

#106 [FE] alert창 추가, 이미지 슬라이드 스타일 변경
  frontend/src/components/Review/ReviewImage.tsx
  frontend/src/components/Review/ReviewImages.tsx
  frontend/src/components/common/ReviewItem.tsx
  frontend/src/components/common/ReviewList.tsx
  frontend/src/hooks/useAdmin.ts
  frontend/src/pages/Admin/UnverifiedReviewsDashboard.tsx
Labels: frontend, style

#107 [FE] 리뷰 아이템에 신고하기, 삭제하기 기능 추가
  frontend/src/components/common/ReviewItem.tsx
  frontend/src/hooks/useLike.ts
  frontend/src/hooks/useReviewDetail.ts
  frontend/src/hooks/useReviews.ts
Labels: frontend, feat

#109 [FE] 작은 이미지가 리뷰 아이템 이미지 컨테이너에 꽉차지 않는 오류 수정
  frontend/src/components/common/ReviewItem.style.ts
Labels: frontend

#112 [BE][FE] 미인증 후기 조회 api 추가, 미인증 후기 조회 api 연결, 관리자 페이지 스타일 수정, 상세 페이지에서 사용하는 이미지관련 파일들 별도의 폴더로 구분
  backend/src/controllers/reviews.controller.ts
  backend/src/models/review.model.ts
  backend/src/routes/reviews.route.ts
  backend/src/services/review.service.ts
  frontend/src/Router.tsx
  frontend/src/api/admin.api.ts
  frontend/src/components/Admin/AdminLayout.tsx
  frontend/src/components/Admin/AdminSidebar.tsx
  frontend/src/components/Review/ReviewImageSlider/ReviewImage.tsx
  frontend/src/components/Review/ReviewImageSlider/ReviewImageSliderArrow.tsx
  frontend/src/components/Review/ReviewImageSlider/ReviewImages.tsx
  frontend/src/components/hocs/withAdminAuthenticatedUser.tsx
  frontend/src/models/review.model.ts
  frontend/src/pages/Admin/UnverifiedReviewsDashboard.tsx
  frontend/src/pages/ReviewDetail.tsx
Labels: frontend, backend, feat, style

#113 [FE] 인증관련 뱃지스타일 조정 및 카테고리 수정, 메인화면 배너 화살표 수정
  frontend/src/components/common/CategoryButton.tsx
  frontend/src/components/common/ImageSlide.tsx
  frontend/src/components/common/ReviewItem.style.ts
  frontend/src/components/common/ReviewItem.tsx
Labels: frontend, style

#114 [FE] 검색페이지 코드 분리
  frontend/src/components/Home/BestReview.tsx
  frontend/src/components/Review/StarRating.tsx
  frontend/src/components/Search/NoRecentSearchResult.tsx
  frontend/src/components/Search/RecentKeyword.tsx
  frontend/src/components/Search/SearchInputBox.tsx
  frontend/src/pages/Search.tsx
  frontend/src/utils/utils.txt
Labels: frontend

#115 [FE] 검색페이지 - 최근검색어 없는 경우 화면 출력 수정
  frontend/src/components/Search/RecentKeyword.tsx
Labels: bug, frontend
